# Course documents
EC424-AT-Lecture7.pdf
EC424-AT-PracticeQuestions.pdf
EC424-AT-PracticeSolutions.pdf
EC424-AT-StructuredAssignment.pdf

# API keys
e-stat_appId.txt
fred_APIkey.txt

gagliardone2025oil.pdf

sample_essays/

input/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache